@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.red-accent { color: #E10600; }

.btn-primary { 
  background-color: #E10600; 
  color: white; 
  padding: 12px 24px; 
  border-radius: 8px; 
  font-weight: bold; 
  transition: all 0.3s;
}
.btn-primary:hover { background-color: #b91c1c; }

.btn-outline { 
  border: 1px solid white; 
  color: white; 
  padding: 12px 24px; 
  border-radius: 8px; 
  font-weight: bold; 
  transition: all 0.3s;
}
.btn-outline:hover { background-color: white; color: black; }